
.contenedor{
	max-width: 1000px;
	margin: auto;
	background-color: #82CB8D;
	display: flex;
	justify-content: space-between;
	align-items: left;
}

.titulo{
	color: #FFF;
	margin: 0;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-left: 70px;
}

nav ul li a {
	color: #FFF;
	text-decoration: none;
	transition: color .2s;
	font-size: 18
}
.banner {
  width: 100%;
  border-bottom: 1px solid #000;
  text-align: center;
}

.banner img {
  width: 100%;
  height: AUTO;
}
