.contenedor{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #82CB8D;
	padding: 30px;
	text-align: left;
}
.titulo{
	color: #fff;
	font-weight: bold;
	font-size: 40px;
}
nav {
	float: right;
	margin-top: 10px;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	margin-left: 20px;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.banner{
	width: 100%;
	max-width: 400px;
	margin: center;
