header {
  background-color: ##82CB8D;
  color: #FFFFFF;
  padding: 10px;
}

.banner {
  width: 100%;
  margin-bottom: 10px;
}

.banner img {
  width: 100%;
}

.contenedor{
	max-width: 800px;
	margin: auto;
	background-color: #82CB8D;
	padding: 20px;
	text-align: left;
}

.titulo{
	margin: 0;
	padding: 0;
	text-align: left;
	color: #FFF;
	font-size: 20px;
	margin-bottom: 10px;
}

nav{
	margin: 0;
	padding: 0;
	text-align: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 40px;
}

nav a{
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

